<%- include nav.ejs %>

<div id="admin-index">
  <ul data-bind="foreach: items">
    <li>
      <a data-bind="text: title, attr: { href: '/admin/'+$root.collection+'/' + _id }"></a>
      <a data-bind="click: $root.remove">delete</a>
    </li>
  </ul>

  <a data-bind="attr: { href: '/admin/'+collection+'/create' }">New</a>
</div>
