<!DOCTYPE html>
<html>
  <head>
    <title>Baysic</title>
    <link rel='stylesheet' href='/build/css/style.css' />

    <!-- bower:css -->
    <!-- endbower -->
  </head>
  <body>
    <h1>Baysic</h1>
    <p>Welcome to baysic</p>
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/knockout/dist/knockout.js"></script>
    <script src="/build/js/main.js"></script>
    <!-- endbower -->
  </body>
</html>
