<!DOCTYPE html>
<html>
  <head>
    <title>Baysic</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="/build/css/application.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="http://quilljs.com/css/quill.snow.css" />
  </head>
  <body>
    <%- body %>
    <!-- bower:js -->
    <script src="/bower_components/knockout/dist/knockout.js"></script>
    <script src="/bower_components/quill/dist/quill.js"></script>
    <script src="/build/js/main.js"></script>
    <!-- endbower -->
  </body>
</html>
