<ul data-bind="foreach: fields">
  <li>
    <label data-bind="text: name, attr: {for:name}"></label>
    <!-- ko if: tag == 'input' && type != 'checkbox' -->
    <input data-bind="attr: { type: type, name: name, disabled: !editable }, value: $root.model()[name]"/>
    <!-- /ko -->
    <!-- ko if: tag == 'input' && type == 'checkbox' -->
    <input data-bind="attr: { type: type, name: name, disabled: !editable }, checked: $root.model()[name]"/>
    <!-- /ko -->
    <!-- ko if: tag == 'textarea' -->
    <input type="hidden" data-bind="attr: { name: name, disabled: !editable}, value: $root.model()[name]"/>
    <%- include quill-editor.ejs %>
    <!-- /ko -->
  </li>
</ul>
<a data-bind="click: save">Save</a>
